* {
	box-sizing: border-box;
	margin: 0;
}

header {
	text-align: center;
	color: white;
	padding: 20px;
	background-color: rgb(1, 102, 92);
}

#city-info {
	margin: 10px;
}

.sidebar {
	background-color: rgb(64, 149, 111);
	padding: 10px;
}

.daycard {
	margin: 10px;
}